@page
@model Akwarium.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Zmiana hasła";
}

@section Styles {
    <!-- używam tych samych styli co do logowania -->
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ChangePassword.css" asp-append-version="true" />
}

<div class="login-container">
    <h2>Zmień hasło</h2>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="error-message">@Model.ErrorMessage</div>
    }

    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="success-message">@Model.SuccessMessage</div>
    }

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="error-message"></div>
        <div class="form-group">
            <label for="currentPassword">Obecne hasło</label>
            <input id="currentPassword"
                   type="password"
                   asp-for="CurrentPassword"
                   class="form-control"
                   required />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="newPassword">Nowe hasło</label>
            <input id="newPassword"
                   type="password"
                   asp-for="NewPassword"
                   class="form-control"
                   required />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Powtórz nowe hasło</label>
            <input id="confirmPassword"
                   type="password"
                   asp-for="ConfirmPassword"
                   class="form-control"
                   required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-login">Zapisz</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}