@page
@model Akwarium.Pages.AdminPanel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard administratora</h2>

<p>Witaj, @Model.UserName!</p>

<p>
    W przyszłości będzie się tu znajdował <strong>panel administratora</strong>
    do zarządzania systemem akwarium.
</p>
