@page
@model Akwarium.Pages.IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="home-container">
    <h1>Panel Akwarium</h1>
    <p>Witaj w inteligentnym systemie zarządzania akwarium.</p>
</div>
